.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  box-shadow: 4px 12px 3px #0000004d;

  .product__image {
    width: auto;
    max-height: 11rem;
    object-fit: contain;
  }

  .product__button {
    max-width: 150px;
  }
}
