.grid-item {
  background: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;

  .product-image {
    width: auto;
    max-height: 11rem;
    object-fit: contain;
  }
}