@import "../../../theme.scss";

.cart-item {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  border-bottom: 2px solid $gray;
  padding: 1rem;

  .cart__image {
    max-width: 50px;
    height: auto;
    object-fit: contain;
  }

  .cart__quantity-section {
    display: grid;
    grid-template-columns: repeat(2, 2rem);
    column-gap: 1rem;
    align-items: inherit;
    justify-content: inherit;

    .cart__quantity__buttons {
      display: grid;
      grid-template-rows: repeat(2, 2rem);
      row-gap: 1rem;

      .button--add {
        background-color: $white;
        border-bottom: 2px solid $springRain;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
      .button--sub {
        background-color: $white;
        border-bottom: 2px solid $eunry;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
  }
}
